/* navbar */
nav {
  background-color: #6f6af7;
  display: flex;
  flex-flow: row nowrap;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50;
}
.logo {
  color: white;
  font-family: "Delius Unicase";
  font-weight: 700;
  font-size: 35px;
}
.nav-list {
  list-style-type: none;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 500px;
  color: #fff;
  font-family: "DM sans";
  font-size: 23px;
  font-weight: 400;
}
.nav-list > li {
  line-height: 80px;
}

#search-bar {
  background-color: white;
  height: 40px;
  width: 250px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
#search-bar > input {
  border-style: none;
  height: 60%;
  margin: auto;
}
#search-bar > img {
  height: 60%;
  margin: auto;
}
#hamburger {
  height: 35px;
  width: 47px;
}
/* main */
#main {
  display: inline-block;
  margin: 80px 80px 80px 85px;
}
#text-area {
  border-radius: 20px;
  border: 6px solid #fff;
  background: #e5d8ff;
  box-shadow: 3px 5px 27px 0px rgba(0, 0, 0, 0.25) inset;
  resize: none;
  box-sizing: border-box;
  position: relative;
  left: 85px;
}
#social-media-icons {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 80px;
  margin-top: 180px;
  float: right;
}
/* performance tabs */
#performance {
  margin: 80px;
  display: flex;
  justify-content: space-between;
}
.performance-tab {
  width: 225px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 9px 31px 0px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  padding: 15px;
  box-sizing: border-box;
}
#tab-1 {
  background-color: #929dff;
}
#tab-2 {
  background-color: #734cf2;
}
#tab-3 {
  background-color: #d288ff;
}
#tab-4 {
  background-color: #000000;
}
/* your information tab */
#your-info-div {
  margin: 80px;
  background-color: #483eff;
  display: flex;
  height: 500px;
  justify-content: space-around;
  align-items: stretch;
  border-radius: 19px;
  padding: 20px;
}
.your-info-options {
  height: 90px;
  width: 310px;
  box-sizing: border-box;
  border-radius: 18px;
  line-height: 90px;
  text-align: center;
  font-family: "DM Sans";
  font-size: 20px;
  font-weight: 700;
}
#your-info-options-tab {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}
#chat-support-button {
  position: absolute;
  top: 820px;
  left: 1095px;
}
#your-info {
  background-color: #bce0f6;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.39);
}
#bookmarks {
  color: white;
  border: 3px solid white;
}
#settings {
  color: white;
  border: 3px solid white;
}
#your-info-display {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 60%;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 18px;
  padding: 40px;
}
#your-info-display > h3 {
  color: #04285a;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
}
#your-info-display > p {
  line-height: 22px;
  color: #04285a;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2.3px;
}
#your-info-display > button {
  background-color: #000000;
  color: white;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 400;
  border-radius: 4px;
  align-self: flex-end;
}
